#all-listings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem 4rem;
    justify-content: space-between;
}

.cardAnch {
    flex: 1 1 300px;
    max-width: 300px;
    min-width: 100px;
    text-decoration: none;
}

.card {
    border: none !important;
}

.card-img-top {
    height: 43vh;
    border-radius: 1rem;
}

.cardAnch:hover {
    background-color: white;
    opacity: 0.8;
}

.createCardBody {
    text-align: start;
    margin-top: 1rem;
    margin-left: 0.5rem;
}


@media (max-width: 713px) {
    #all-listings-container {
        gap: 2rem;
        padding: 2rem 3rem;
        justify-content: space-between;
    }

    .card-img-top {
        height: 180px;
    }

    .cardAnch {
        flex: 1 1 150px;
        max-width: 150px;
    }

    .list-title {
        font-size: medium;
    }

    .card-text {
        font-size: small;
    }
}