.editMain{
    display: flex;
    column-gap: 40dvw;
    padding: 1rem 0px;
}

.editForm{
    width: 40dvw;
}

#editHead{
    position: fixed;
    top: 50%;
    left: 5%;
    font-size: 5rem;
    color: #dc3545;
    opacity: 0.2;
    pointer-events: none;
}

.uploadedImage{
    height: 90px;
    width: 150px;
}

@media (max-width: 768px) {
    .editMain{
        column-gap: 0px;
        padding: 10px;
    }
    
    .editForm{
        width: 100dvw;
    }

    .uploadedImage{
        height: 50px;
        width: 90px;
        margin-bottom: 10px;
    }
}