.showCard{
    width: 90vw;
    margin: 1rem auto;
}

#cardTitle{
    margin-left: 2px;
    margin-bottom: 1.2rem;
}

.card-img{
    width: 90vw;
    display: flex;
    gap: 1vh;
}

#showImg{
    width: 55%;
    height: 55vh;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#grid-img{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:1vh;
    height:55vh;
    width:45%;
}

.grid-imgs {
    height: 27vh;
    width: 100%;
    object-fit:cover;
}

#grid-img-2{
    border-top-right-radius: 1rem;
}

#grid-img-4{
    border-bottom-right-radius: 1rem;
}

#location-text{
    margin-top: 2rem;
    font-size: 25px;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 0px;
}

#showIconLoc{
    color: #dc3545;
}

#reviewLengthText{
    text-decoration: underline;
    font-weight: 500;
}

#description-text{
    font-size: 17px;
    margin-bottom: 1rem;
}

.card-body{
    /* margin-top: 2rem; */
    display: flex;
    justify-content: space-between;
}

.about-List{
    width: 60%;
}

#right-Div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

#price-showCard{
    margin-top: 2rem;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-text{
    margin-bottom: 0px;
}

.cardBtns{
    width:100%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.showForm{
    width: 100%;
}

.delete-btn, .edit-btn{
    width: 100%;
    border-radius: 1rem;
    font-size: 18px;
}

#ownerDiv{
    display: flex;
    gap: 10px;
}

#listOwnerIcon{
    background-color: black;
    height: 1.8rem;
    width: 1.8rem;
    text-align: center;
    align-content: center;
    color: white;
    border-radius: 50%;
}

#hostText{
    font-size: 1.1rem;
    justify-content: center;
    margin-bottom: 0;
}

.horizontal{
    width: 90%;
    margin: 4rem auto;
}

.review-form{
    width: 90vw;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.review-submit-btn{
    border: 2px solid #dc3545;
    background-color: white;
    color:#dc3545;
}

.review-submit-btn:hover{
    border: 2px solid #dc3545;
    color:white;
    background-color: #dc3545;
}

.star-btn-review{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.review-enter-text{
    border: none;
    outline: none !important;
    box-shadow: none !important;
    padding: 0px;
}

.pointer-link{
    font-size: 1.2rem;
}

#all-reviews{
    margin: auto;
    margin-top: 3rem;
    width: 90dvw;
}

#reviewCountHeading{
    background-color: #dc3545;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 0.7rem;
}

.all-reviews-show{
    max-height: 40dvh;
    min-height: auto;
    overflow-y: scroll;
    margin: 2rem 0px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0px 1rem;
}

.card-title{
    display: flex;
    justify-content: space-between;
}

.timeago, .dash{
    font-size: 0.9rem;
    color: gray;
}

.user-review-box{
    font-size: 1.1rem;
}

.review-owner-icon{
    font-size: 1.3rem;
}

.review-dlt-btn{
    border: none;
    background-color: transparent;
}

.review-content{
    padding-left: 0.3rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}