<%layout ("./layout/boilerplate.ejs")%>

    <div class="alert alert-dark" style="text-align: center;margin-top: 7rem; margin-bottom: 7rem;" role="alert">
        <p style="font-size: 50px;" class="alert-heading mt-4"><i class="fa-solid fa-triangle-exclamation"></i> &nbsp;<%=err.message%></p>
      </div>