<%layout("/layout/boilerplate")%>

    <%if(lists!=false){%>
        <div id="all-listings-container">
            <%for(let list of lists){%>
                    <a class="cardAnch" href="/listings/<%=list.id%>/show">                
                        <div class="card">
                            <img src="<%=list.image[0].url%>" class="card-img-top" alt="img">
                            <div class="card-img-overlay"></div>
                            <div class="createCardBody">
                                <h6 class="list-title"><%=list.title%></h6>  
                                <p class="card-text">&#x20B9;<%=list.price.toLocaleString("en-IN")%>/per night</p>
                            </div>
                        </div>
                    </a>
            <%}%>
        </div>
    <%}%>